@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=REM:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    
    /* Font */
    --font-poppins: 'Poppins', 'sans-serif';
    --font-quattrocento: '"Quattrocento Sans"', 'sans-serif';
    --font-rem: 'REM', 'sans-serif';

    /* Light mode colors hsl(206,83,46) */
        --color-primary: #1483d5 ;
        --color-bg: #FFFFFF;
        --color-bg-secondary: #f3f9fd;
        --color-bg-light: #f8f8f8;
        --color-hover-bg-light: #f2f2f2;
        --color-bg-light-secondary: #e2e2e2;
        --color-text: #0d0d0d;
        --color-text-muted: #4D4D4D;

        /* Dark mode colors */
        --color-primary-dark: #1483d5;
        --color-bg-dark: #191919;
        --color-bg-secondary-dark: #191919;
        --color-bg-light-dark: #262626;
        --color-bg-light-secondary-dark: #262626;
        --color-text-dark: #f2f2f2;
        --color-text-muted-dark: #CCCCCC;
}

